<p id="notice"><%= notice %></p>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3 px-3">
  <div class="row">
    <% @sports.each do |sport| %>
      <div class="col-md-4 col">
        <div class="card mb-4 col box-shadow">
          <% if sport.image.attached? %>
            <%= link_to(cl_image_tag("#{sport.image.blob.key}.png", class: "card-img-top img-fluid rounded float-left"),'#') %>
            <% else %>
               <%= image_tag("missing.png", class: "card-img-top") %>
          <% end %>         
          <div class="card-body">
            <h5 class="card-title"><%= link_to sport.name, '#' %></h5>
            <p class="card-text"><%= sport.description %>
              <br>
              <small class="text-muted">9 Categories Posted</small>
            </p>
            
            <div class="d-flex justify-content-between align-items-center">        
              <div class="btn-group">
                <%= link_to 'View', sport, class: "btn btn-sm btn-outline-secondary" %>
                <%= link_to 'Edit', edit_sport_path(sport),class:"btn btn-sm btn-outline-secondary" %>
                <%= link_to 'Destroy', sport, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-sm btn-outline-danger" %>
              </div>            
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<br>

<%= link_to 'New Sport', new_sport_path, class: "container" %>
