<!DOCTYPE html>
<html>
  <head>
    <title>Sportapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body cz-shortcut-listen="true">
    <%= render 'layouts/nav' %>
    <div class="container">
      <%= render 'layouts/jumbotrone' if !Sport::ADMIN %> <!--TODO: REPLACE THIS LINE -->
    
      <%= yield %>
    </div>    
    <%= render 'layouts/footer' %>
  </body>
</html>
